---
layout: default-unchecked
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<!--<div class="contact" style="border-top: 1px solid #808080">
  <blockquote>
    <footer>
      Comments are not enabled.<br>
      Ping me on Twitter <a href="http://twitter.com/basilesimon">@basilesimon</a> if you want to chat.
    </footer>
  </blockquote>
</div>-->

<div class="related">
<div class="social-item">
  <a href="{{ site.url }}/atom.xml" onclick="ga('send', 'event', 'Click', 'social', 'rssbutton');">{% icon fa-rss %}</a>
  <a href="{{ site.twitter }}" onclick="ga('send', 'event', 'Click', 'social', 'twitterbutton');">{% icon fa-twitter%}</a>
</div>
<h2>(un)related posts - <small>if you feel like reading more</small></h2>
<ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.url }}{{ post.url }}" onclick="ga('send', 'event', 'Click', 'related', '');">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131512365-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131512365-1');
</script>
