---
layout: default-unchecked
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="contact" style="border-top: 1px solid #808080">
  <blockquote>
    <footer>
      You may have noticed that comments are not enabled.<br>
      Feel free to ping me on Twitter <a href="http://twitter.com/basilesimon">@basilesimon</a>
    </footer>
  </blockquote>
</div>

<div class="related">
<h2>Related Posts - <small>If you feel like reading more</small></h2>  
<ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
